<div class="header-1">Naše předpřipravené produkty</div>
<div class="header-0-2-t">Spuštění na vaší doméně do 24 hodin</div>

<div class="main-content">
    <div class="content-wrp">
        <div class="filter-wrp">
            <form class="finder" (submit)="onSearch($event)">
                <input type="text" placeholder="Název" class="search-input" name="searchInput" [(ngModel)]="searchQuery">
                <button type="submit" class="search-button" aria-label="Najít">
                    <img [src]="search_icon" alt="Search Icon">
                </button>
            </form>

            <form class="filter" (submit)="onFilter($event)">
                <div class="filter-group">
                    <label for="sort-order">Seřadit dle:</label>
                    <select name="sortOrder" id="sort-order" [(ngModel)]="selectedSortOrder">
                        <option value="">-- Výchozí --</option>
                        <option value="az">A-Z</option>
                        <option value="za">Z-A</option>
                        <option value="price-desc">Od nejdražšího</option>
                        <option value="price-asc">Od nejlevnějšího</option>
                    </select>
                </div>
                
                <div class="result">
                    Počet výsledků: {{ allFilteredAndSortedProducts.length }} produktů
                </div>
                <div class="btn-wrp-form-s">
                    <button type="submit" class="filter-button">Filtrovat</button>
                    <button type="button" class="reset-button" (click)="onReset()">Resetovat</button>
                </div>
            </form>

            <div class="money-form-wrp">
                <form class="money-form">
                    <div class="currency-slider-track" #currencySliderTrack>
                        <span
                            class="currency-label"
                            data-currency="czk"
                            (click)="selectCurrency('czk')"
                            [ngClass]="{'active': currentCurrency === 'czk'}"
                        >CZK</span>
                        <span
                            class="currency-label"
                            data-currency="eur"
                            (click)="selectCurrency('eur')"
                            [ngClass]="{'active': currentCurrency === 'eur'}"
                        >EUR</span>
                        <div class="currency-slider" #currencySlider></div>
                    </div>
                </form>
            </div>
        </div>

      
        <div class="prod-wrp" #prodWrp>
    <app-product-card-list [products]="paginatedProducts"></app-product-card-list>

    <div *ngIf="paginatedProducts.length === 0" class="msg-wrp">
        <div class="icon-wrp">
            <svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" fill="currentColor" class="bi bi-box-seam-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.67V10.5a.75.75 0 0 1-.472.67l-5.694 3.416a.75.75 0 0 1-.756 0L.472 11.17A.75.75 0 0 1 0 10.5V3.643a.75.75 0 0 1 .472-.67L6.006.357a.75.75 0 0 1 .756 0zM4.516 4.4a.5.5 0 0 0-.5.5v.634l1.972 1.183V5.5a.5.5 0 0 0-.5-.5zm5.972.5a.5.5 0 0 0-.5.5v.634l1.972 1.183V5.5a.5.5 0 0 0-.5-.5zM3.5 11.933L.863 10.33V3.643L6.006.357a.75.75 0 0 1 .756 0l5.143 3.286v6.687l-2.637 1.603a.75.75 0 0 1-.756 0l-5.694-3.416zM12.516 5.5v.634l1.972 1.183V5.5a.5.5 0 0 0-.5-.5zM8 7.923l-3.5 2.1L8 12.123l3.5-2.1L8 7.923z"/>
            </svg>
        </div>
        <p class="msg-text">Žádné produkty neodpovídají vašemu výběru.</p>
    </div>

    <div class="pages-wrp" *ngIf="totalPages > 1"> <div class="pages">
            <div class="left-arrow" [class.disabled]="currentPage === 1" (click)="prevPage()">
                &lt; </div>
            <div class="pages-count">
                <div 
                    class="page-1" 
                    *ngFor="let page of pagesToShow" 
                    [class.active]="page === currentPage" 
                    (click)="goToPage(page)">
                    {{ page }}
                </div>
            </div>
            <div class="right-arrow" [class.disabled]="currentPage === totalPages" (click)="nextPage()">
                &gt; </div>
        </div>
    </div>
</div>
    </div>
</div>