<!-- 
<header [class.scrolled]="scrolled">
  <nav>
    <ul>
      <li><a routerLink="/home" #homeLink>Home</a></li>
      <li><a routerLink="/services" #servicesLink>Services</a></li>
      <li><a routerLink="/shop" #shopLink>Shop</a></li>
      <li><a routerLink="/academy" #academyLink>Academy</a></li>
      
      <div class="active-indicator" [ngStyle]="indicatorStyle" *ngIf="showIndicator || isAnimatingTransition"></div>
    </ul>
  </nav>
</header> -->
<header [class.scrolled]="scrolled">
  <nav>
    <ul>
      <li><a routerLink="/home" #homeLink>Home</a></li>
      <li><a routerLink="/services" #servicesLink>Services</a></li>
      <li><a routerLink="/shop" #shopLink>Shop</a></li>
      <li><a routerLink="/academy" #academyLink>Academy</a></li>
      
      <div class="active-indicator" [ngStyle]="indicatorStyle"></div>
    </ul>
  </nav>
</header>