<header [class.scrolled]="scrolled">
  <nav>
    <ul>
      <li><a routerLink="/home" #homeLink>Domů</a></li>
      <li><a routerLink="/services" #servicesLink>Služby</a></li>
      <li><a routerLink="/shop" #shopLink>Obchod</a></li>
      <li><a routerLink="/academy" #academyLink>Vzdělání</a></li>
      
      <div class="active-indicator" [ngStyle]="indicatorStyle"></div>
    </ul>
  </nav>
</header>
<div class="lang-wrp">
      <form class="lang-form" action="">
          <div class="lang-slider-track" #langSliderTrack>
              <span class="lang-label" data-lang="cz" (click)="selectLanguage('cz')" [ngClass]="{'active': currentLanguage === 'cz'}">
                  <img [src]="cz_flag_link" alt="Česky">
              </span>
              <span class="lang-label" data-lang="sk" (click)="selectLanguage('sk')" [ngClass]="{'active': currentLanguage === 'sk'}">
                  <img [src]="sk_flag_link" alt="Slovensky">
              </span>
              <span class="lang-label" data-lang="en" (click)="selectLanguage('en')" [ngClass]="{'active': currentLanguage === 'en'}">
                  <img [src]="en_flag_link" alt="English">
              </span>
              </div>
      </form>
  </div>