<div class="main-content">

  <div class="form-wrp">
    <div class="form">
      <div class="contact-form">
        <h2>Administrace</h2>
        <form (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="email">Login</label>
            <input 
              type="email" 
              id="email" 
              [(ngModel)]="email" 
              name="email" 
              placeholder="jannovak1" 
              required>
          </div>

          <div class="form-group">
            <label for="password">Heslo</label>
            <input 
              type="password" 
              id="password" 
              [(ngModel)]="password" 
              name="password" 
              placeholder="••••••••" 
              required>
          </div>

          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

          <div class="submit-wrp">
            <button type="submit">Přihlásit se</button>
          </div>
        </form>

        <div class="back-to-home">
          <a routerLink="/home" class="home-link">Zpět na hlavní stránku</a>
        </div>
      </div>
    </div>
  </div>
</div>