
<div class="header-1">
    Naše výukové kroužky
</div>
<div class="main-content">
    <div class="courses-wrp">
        <div class="courses-wrp-1">

            <div class="web-course-wrp">
                <div class="p-wrp">
                    <div class="header-course">
                        Webový vývoj
                    </div>
                    <div class="text-1">
                        Nauč se tvořit vlastní webové stránky i aplikace – od základních HTML a CSS prvků až po interaktivní JavaScriptové projekty. V kroužku projdeme klíčové technologie moderního webu s důrazem na kreativitu, logické myšlení a praktické projekty.
                    </div>
                    <div class="text-1">
                        Kurz je určen pro děti a teenagery, kteří chtějí pochopit, jak funguje internet, jak se tvoří weby a co se děje „za oponou“. Začneme od úplných základů a postupně se propracujeme k tvorbě vlastních miniaplikací i webových stránek.
                    </div>
                    <div class="info-wrp">
                        <div class="i-when">
                            <div class="i-header-1">
                                Kdy?
                            </div>
                            <div class="i-inside">
                                <div class="line">
                                    <div class="i-i-img">
                                        <img [src]="time" alt="">
                                    </div>
                                    <div class="i-i-text">
                                        1x týdně, 90 minut
                                    </div>
                                </div>

                                <div class="line">
                                    <div class="i-i-img ">
                                        <img [src]="calendar" alt="">
                                    </div>
                                    <div class="i-i-text">
                                        Úterý 16:30
                                    </div>
                                </div>


                                <div class="line">
                                    <div class="i-i-img ">
                                        <img [src]="calendar" alt="">
                                    </div>
                                    <div class="i-i-text">
                                        Čtvrtek 16:30
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="i-what sep">
                            <div class="i-header-1">
                                Kde?
                            </div>
                            <div class="i-inside">
                                <div class="line">
                                    <div class="i-i-img ">
                                        <img [src]="online" alt="">
                                    </div>
                                    <div class="i-i-text">
                                        Online
                                    </div>
                                </div>
                                <div class="line">
                                    <div class="i-i-img ">
                                        <img [src]="discord" alt="">
                                    </div>
                                    <div class="i-i-text">
                                        Discord
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="i-where">
                            <div class="i-header-1">
                                Co?
                            </div>
                            <div class="i-inside">
                                <div class="line">
                                    <div class="i-i-img ">
                                        <img [src]="client" alt="">
                                    </div>
                                    <div class="i-i-text">
                                        Základy internetových sítí
                                    </div>
                                </div>

                                <div class="line">
                                    <div class="i-i-img ">
                                        <img [src]="www" alt="">
                                    </div>
                                    <div class="i-i-text">
                                        Tvorba webových stránek
                                    </div>
                                </div>
                                <div class="line">
                                    <div class="i-i-img ">
                                        <img [src]="www" alt="">
                                    </div>
                                    <div class="i-i-text">
                                        Tvorba webových aplikací
                                    </div>
                                </div>
                                <div class="line">
                                    <div class="i-i-img ">
                                        <img [src]="database" alt="">
                                    </div>
                                    <div class="i-i-text">
                                        Základy databází
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-section-container">

                        <div class="diff-wrp">
                            <div *ngFor="let item of webTimelineItems; let i = index"
                                class="diff-ins"
                                [ngClass]="{'active-item': item.isActive}"
                                [style.animation-delay]="i * 0.1 + 's'">

                                <div class="diff-line" (click)="toggleWebItem(item)">
                                    <div class="ball" [ngClass]="{'active-ball': item.isActive}">
                                        {{ i + 1 }}
                                    </div>
                                    <div class="diff-header">
                                        <div class="diff-c-header">
                                            <h3>{{ item.title }}</h3>
                                        </div>
                                        <div class="diff-arrow" [ngClass]="{'rotated': item.isActive}">
                                            <div class="arrow-txt">
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="diff-answer" [ngClass]="{'active-answer': item.isActive}">
                                    <div class="content-1-wrp">
                                        {{item.content}}
                                    </div>
                                    <div class="duration-wrp">
                                        <div class="diff-c-header-2">
                                            Trvání:
                                        </div>
                                        <div class="duration-text">
                                            1 školní rok, 36 lekcí
                                        </div>
                                    </div>
                                    <div class="des-wrp">
                                        <div class="s-1">
                                            <div class="diff-c-header-1">
                                                Obsah kroužku:
                                            </div>
                                            <ul class="diff-c-list">
                                                <li *ngFor="let theme of item.themes">
                                                    {{theme}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="s-1">
                                            <div class="diff-c-header-1">
                                                S čím novým budeme pracovat:
                                            </div>
                                            <div class="diff-c-icon-wrp">
                                                <div class="diff-c-icon" *ngIf="item.newThings[0]">
                                                    <div class="diff-con-icon">
                                                        <img [src]="item.newThings[0][1]" alt="">
                                                    </div>
                                                    <div class="diff-con-text">
                                                        {{item.newThings[0][0]}}
                                                    </div>
                                                </div>
                                                <div class="diff-c-icon" *ngIf="item.newThings[1]">
                                                    <div class="diff-con-icon">
                                                        <img [src]="item.newThings[1][1]" alt="">
                                                    </div>
                                                    <div class="diff-con-text">
                                                        {{item.newThings[1][0]}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <div class="desktop-course-wrp">
            <div class="p-wrp">
                <div class="header-course">
                    Desktopový vývoj
                </div>
                <div class="text-1">
                    Zjisti, jak se tvoří opravdové počítačové programy a aplikace, které běží přímo ve Windows, macOS nebo Linuxu. V tomto kroužku se naučíš vytvářet grafická uživatelská rozhraní (GUI), pracovat s událostmi, ukládat data do souborů a tvořit funkční nástroje i jednoduché hry.
                </div>

                <div class="text-1">
                    Kurz je vhodný pro všechny, které láká reálný vývoj aplikací mimo webové prohlížeče a chtějí si vytvořit něco „opravdového“ – kalkulačku, malovací program, launcher, správce úkolů nebo jednoduchou hru.
                </div>
                <div class="info-wrp">
                    <div class="i-when">
                        <div class="i-header-1">
                            Kdy?
                        </div>
                        <div class="i-inside">
                            <div class="line">
                                <div class="i-i-img">
                                    <img [src]="time" alt="">
                                </div>
                                <div class="i-i-text">
                                    1x týdně, 90 minut
                                </div>
                            </div>

                            <div class="line">
                                <div class="i-i-img ">
                                    <img [src]="calendar" alt="">
                                </div>
                                <div class="i-i-text">
                                    Úterý 18:30
                                </div>
                            </div>


                            <div class="line">
                                <div class="i-i-img ">
                                    <img [src]="calendar" alt="">
                                </div>
                                <div class="i-i-text">
                                    Čtvrtek 18:30
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="i-what sep">
                        <div class="i-header-1">
                            Kde?
                        </div>
                        <div class="i-inside">
                            <div class="line">
                                <div class="i-i-img ">
                                    <img [src]="online" alt="">
                                </div>
                                <div class="i-i-text">
                                    Online
                                </div>
                            </div>
                            <div class="line">
                                <div class="i-i-img ">
                                    <img [src]="discord" alt="">
                                </div>
                                <div class="i-i-text">
                                    Discord
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="i-where">
                        <div class="i-header-1">
                            Co?
                        </div>
                        <div class="i-inside">
                            <div class="line">
                                <div class="i-i-img ">
                                    <img [src]="pc" alt="">
                                </div>
                                <div class="i-i-text">
                                    Základy principů počítač
                                </div>
                            </div>

                            <div class="line">
                                <div class="i-i-img ">
                                    <img [src]="cmd" alt="">
                                </div>
                                <div class="i-i-text">
                                    Aplikace v CMD
                                </div>
                            </div>
                            <div class="line">
                                <div class="i-i-img ">
                                    <img [src]="gui" alt="">
                                </div>
                                <div class="i-i-text">
                                    Aplikace v GUI
                                </div>
                            </div>
                            <div class="line">
                                <div class="i-i-img ">
                                    <img [src]="database" alt="">
                                </div>
                                <div class="i-i-text">
                                    Základy databází
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-section-container">

                    <div class="diff-wrp">
                        <div *ngFor="let item of desktopTimelineItems; let i = index"
                            class="diff-ins"
                            [ngClass]="{'active-item': item.isActive}"
                            [style.animation-delay]="i * 0.1 + 's'">

                            <div class="diff-line" (click)="toggleDesktopItem(item)">
                                <div class="ball" [ngClass]="{'active-ball': item.isActive}">
                                    {{ i + 1 }}
                                </div>
                                <div class="diff-header">
                                    <div class="diff-c-header">
                                        <h3>{{ item.title }}</h3>
                                    </div>
                                    <div class="diff-arrow" [ngClass]="{'rotated': item.isActive}">
                                        <div class="arrow-txt">
                                        >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="diff-answer" [ngClass]="{'active-answer': item.isActive}">
                                <div class="content-1-wrp">
                                    {{item.content}}
                                </div>
                                <div class="duration-wrp">
                                    <div class="diff-c-header-2">
                                        Trvání:
                                    </div>
                                    <div class="duration-text">
                                        1 školní rok, 36 lekcí
                                    </div>
                                </div>
                                <div class="des-wrp">
                                    <div class="s-1">
                                        <div class="diff-c-header-1">
                                            Obsah kroužku:
                                        </div>
                                        <ul class="diff-c-list">
                                            <li *ngFor="let theme of item.themes">
                                                {{theme}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="s-1">
                                        <div class="diff-c-header-1">
                                            S čím novým budeme pracovat:
                                        </div>
                                        <div class="diff-c-icon-wrp">
                                            <div class="diff-c-icon" *ngIf="item.newThings[0]">
                                                <div class="diff-con-icon">
                                                    <img [src]="item.newThings[0][1]" alt="">
                                                </div>
                                                <div class="diff-con-text">
                                                    {{item.newThings[0][0]}}
                                                </div>
                                            </div>
                                            <div class="diff-c-icon" *ngIf="item.newThings[1]">
                                                <div class="diff-con-icon">
                                                    <img [src]="item.newThings[1][1]" alt="">
                                                </div>
                                                <div class="diff-con-text">
                                                    {{item.newThings[1][0]}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


    <div class="header-2">
    Cena
</div>

    <div class="prices-wrp">
        <div class="prices-wrp-1">
            <div class="price-card">
    <div class="price-header-strip">
        MĚSÍČNÍ PLATBA
    </div>
    <div class="price-content">
        <div class="price-amount">
            1899 <span class="currency">Kč/měsíc</span>
        </div>
        <div class="price-note">
            * Platíte každý měsíc
        </div>
    </div>
</div>

<div class="price-card">
    <div class="price-header-strip">
        PLATBA ZA 3 MĚSÍCE
    </div>
    <div class="price-content">
        <div class="price-amount">
            1770 <span class="currency">Kč/měsíc</span>
        </div>
        <div class="price-note">
            * Platba se provádí jednorázově – 5310 Kč
        </div>
    </div>
</div>

<div class="price-card">
    <div class="price-header-strip">
        ROČNÍ PLATBA
    </div>
    <div class="price-content">
        <div class="price-amount">
            1566 <span class="currency">Kč/měsíc</span>
        </div>
        <div class="price-note">
            * Platba se provádí jednorázově – 14100 Kč
        </div>
    </div>
</div>
        </div>
    </div>
    
    <div class="header-3">
    Kontakt
</div>
<div class="form-wrp">
           <div class="form">
                           <form class="contact-form">
            <h2>Zanechte kontakt pro konzultaci</h2>
            <h4>Odezva do 24 hodin</h4>
            <div class="form-group">
                <label for="theme">Okruh:</label>
                <select id="theme" name="theme" required>
                    <option selected value="desktop-development">Desktopový vývoj</option>
                    <option value="web-development">Webový vývoj</option>
                </select>
            </div>

            <div class="form-group">
                <label for="diff">Obtížnost:</label>
                <select id="diff" name="diff" required>
                    <option selected value="begginer">Začátečník (11-17 let)</option>
                    <option value="advanced">Pokročilý (13-17 let)</option>
                    <option value="expert">Expert (14-17 let)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>
            
            <div class="form-group">
                <label for="phone">Telefon (nepovinné):</label>
                <input type="tel" id="phone" name="phone">
            </div>
            
            <button type="submit">Odeslat</button>
        </form>
             
           </div>
</div>

</div>