/* Základní styly pro celé tělo stránky */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f7f6;
}

/* Flexbox pro sticky footer layout (pro public layout) */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: -22px;
}

main {
  flex-grow: 1;
  /* padding: 20px; <-- Toto už nemusí být, pokud admin-main to upraví */
}


main.admin-main {
  padding: 0;
  margin: 0;
  flex: 1;
  min-height: 100vh;
  /* Důležité: zajistí, že pozadí 404 nebo adminu vyplní celý prostor */
  display: flex;
  flex-direction: column;
}