<div class="user-request-container container mx-auto p-4">
    <div *ngIf="errorMessage" class="error-banner">
    ⚠️ {{ errorMessage }}
  </div>
  <div *ngIf="!errorMessage">
    <div class="toolbar-actions m-b-t-5">
      <div class="table-header">Správa uživatelských účtů</div>
      <div class="toolbar-actions-in">
        <app-button-builder 
          [configs]="toolbarButtons" 
          (actionTriggered)="handleToolbarAction($event)">
        </app-button-builder>
      </div>
    </div>

    <div class="main-content-layout">
      <div class="filter-side-panel" [class.active]="isFilterVisible">
        <app-filter-form-builder
          [filterColumns]="filterColumns"
          [initialFilters]="filters"
          (filtersApplied)="applyFilters($event)"
          (filtersCleared)="clearFilters()">
        </app-filter-form-builder>
      </div>

      <div class="table-and-pagination-container">
        <app-table-builder #activeTable *ngIf="!showTrashTable"
          [buttons]="buttons"
          [data]="data"
          [tableCaption]="'Seznam Administrátorksých účtů'"
          [columns]="tableColumns"
          [isFullWidth]="isTableFullWidth"
          [apiEndpoint]="apiEndpoint"
          (itemDeleted)="handleItemDeleted()"
          (editFormOpened)="handleEditFormOpened($event)"
          (viewDetailsOpened)="handleViewDetails($event)"
          (resetPasswordFormOpened)="handleResetPasswordFormOpened($event)">
        </app-table-builder>

        <app-trash-table-builder *ngIf="showTrashTable"
          [data]="trashData"
          [columns]="trashTableColumns"
          [apiEndpoint]="apiEndpoint"
          (itemRestored)="handleItemRestored()">
        </app-trash-table-builder>

        <div class="footer-controls flex justify-between items-center mt-4">
          <app-pagination-buttons-builder
            [currentPage]="showTrashTable ? trashCurrentPage : currentPage"
            [totalPages]="showTrashTable ? trashTotalPages : totalPages"
            [totalItems]="showTrashTable ? trashTotalItems : totalItems"
            [itemsPerPage]="showTrashTable ? trashItemsPerPage : itemsPerPage"
            (pageChange)="handlePageChange($event)"
            (itemsPerPageChange)="handleItemsPerPageChange($event)">
          </app-pagination-buttons-builder>
        </div>
      </div>
    </div>
  </div>
</div>

<app-form-builder 
  *ngIf="showCreateForm" 
  [inputDefinitions]="formFields" 
  [formDataToEdit]="selectedItemForEdit"
  (formSubmitted)="handleFormSubmitted($event)"
  (formCanceled)="showCreateForm = false">
</app-form-builder>

<app-form-builder
  *ngIf="showResetPasswordForm"
  [headerText]="resetPasswordTitle"
  [inputDefinitions]="resetPasswordFormFields"
  [formDataToEdit]="selectedItemForEdit"
  (formSubmitted)="handleResetPasswordFormSubmitted($event)"
  (formCanceled)="showResetPasswordForm = false"
></app-form-builder>

<app-details-builder 
  *ngIf="showDetails" 
  [itemDetailColumns]="detailsColumns"
  [itemData]="selectedItemForDetails"
  (closeDetails)="showDetails = false">
</app-details-builder>