<div class="user-request-container container mx-auto p-4">
  <div *ngIf="isLoading" class="text-center text-blue-500">Načítání událostí...</div>
  
  <div *ngIf="errorMessage" class="text-center text-red-500">{{ errorMessage }}</div>
  <div *ngIf="errorMessage" class="text-center text-red-500">
    <button class="neutral_button" style="margin-top: 15px;" (click)="refreshData()">Znovu načíst data</button>
  </div>

  <div *ngIf="!isLoading && !errorMessage">
     <div class="toolbar-actions m-b-t-5">
      <div class="table-header">
        Serverové logy
      </div>
      <div class="toolbar-actions-in">
        
        <button (click)="toggleFilters()" class="btn-filter small-btn">
          {{ isFilterVisible ? '✕ Skrýt' : '🔍 Filtry' }}
        </button>


        <button class="btn-export small-btn" (click)="exportActiveTable()">
          📥 Export
        </button>

      

       
      </div>
    </div>

    <div class="main-content-layout">
      <div class="filter-side-panel" [class.active]="isFilterVisible">
        <app-generic-filter-form
          [filterColumns]="filterColumns"
          [initialFilters]="{ 
            business_log_id: filterBusinessLogId,
            created_at: filterCreatedAt,
            origin: filterOrigin,
            event_type: filterEventType,
            module: filterModule,
            description: filterDescription,
            affected_entity_type: filterAffectedEntityType,
            affected_entity_id: filterAffectedEntityId,
            user_login_id: filterUserLoginId, 
            'user.user_email': filterUserEmail, 
            context_data: filterContextData
          }"
          [initialSortBy]="filterSortBy"
          [initialSortDirection]="filterSortDirection"
          (filtersApplied)="applyFilters($event)"
          (filtersCleared)="clearFilters()">
        </app-generic-filter-form>
      </div>

      <div class="table-and-pagination-container">
        <app-generic-table #activeTable
          [buttons]="buttons"
          [data]="data"
          [columns]="tableColumns"
          [isFullWidth]="isTableFullWidth"
          [tableCaption]="'Seznam událostí systému'"
          [apiEndpoint]="apiEndpoint"
          [isLogsTable]="true"
          (itemDeleted)="handleItemDeleted()"
          (viewDetailsOpened)="handleViewDetails($event)">
        </app-generic-table>
 <label class="checkbox-container m-l-10 text-xs">
          <input type="checkbox" [(ngModel)]="isTableFullWidth"> Full-width
        </label>
        <div class="pagination-controls-wrapper">
          <div class="text-sm text-gray-700 p-b-10">
            Zobrazuji {{ (currentPage - 1) * itemsPerPage + 1 }} - {{ (currentPage - 1) * itemsPerPage + data.length }} z celkem {{ totalItems }} záznamů.
          </div>
          <div class="flex items-center space-x-2 pg-m p-b-10">
            <label for="itemsPerPage" class="text-sm text-gray-700">Položek na stránku:</label>
            <select id="itemsPerPage" (change)="onItemsPerPageChange($event)" class="items-per-page-select" [(ngModel)]="itemsPerPage">
              <option value="15">15</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          <nav class="pagination-nav">
            <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1" class="pagination-button"> < </button>
            <button *ngFor="let page of pagesArray" (click)="goToPage(page)" [ngClass]="{ 'active-page': page === currentPage }" class="pagination-button">{{ page }}</button>
            <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages" class="pagination-button"> > </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<app-generic-details 
  *ngIf="showDetails" 
  [itemDetailColumns]="detailsColumns"
  [itemData]="selectedItemForDetails"
  (closeDetails)="handleCloseDetails()">
</app-generic-details>