<div class="user-request-container container mx-auto p-4">
  <div *ngIf="isLoading" class="text-center text-blue-500 p-4">Načítání ticketů...</div>
  <div *ngIf="errorMessage" class="text-center text-red-500 p-4">
    {{ errorMessage }}
    <button class="neutral_button ml-4" (click)="refreshData()">Zkusit znovu</button>
  </div>

  <div *ngIf="!errorMessage">
    <div class="toolbar-actions m-b-t-5">
      <div class="table-header">Helpdesk tikety</div>
      <div class="toolbar-actions-in">
        <button (click)="toggleFilters()" class="btn-filter small-btn">
          {{ isFilterVisible ? '✕ Skrýt' : '🔍 Filtry' }}
        </button>
        <button *ngIf="!showTrashTable" class="btn-create small-btn" (click)="handleCreateFormOpened()">
          ➕ Přidat
        </button>
        <button *ngIf="!showTrashTable" class="btn-export small-btn" (click)="exportActiveTable()">
          📥 Export
        </button>
        <button *appHasPermission="'view-deleted'" (click)="toggleTable()" class="btn-trash small-btn">
          {{ showTrashTable ? '📋 Aktivní' : '🗑️ Smazané' }}
        </button>
      </div>
    </div>

    <div class="main-content-layout">
      <div class="filter-side-panel" [class.active]="isFilterVisible">
        <app-generic-filter-form
          [filterColumns]="filterColumns"
          [initialFilters]="filters"
          (filtersApplied)="applyFilters($event)"
          (filtersCleared)="clearFilters()">
        </app-generic-filter-form>
      </div>

      <div class="table-and-pagination-container">
        <app-generic-table #activeTable *ngIf="!showTrashTable"
          [buttons]="buttons"
          [data]="data"
          [currentFilters]="filters"
          [columns]="columns"
          [isFullWidth]="isTableFullWidth"
          [tableCaption]="'Seznam Support Ticketů'"
          [apiEndpoint]="apiEndpoint"
          (itemDeleted)="refreshData()"
          (editFormOpened)="handleEditFormOpened($event)"
          (viewDetailsOpened)="handleViewDetails($event)">
        </app-generic-table>

        <app-generic-trash-table *ngIf="showTrashTable"
          [data]="trashData"
          [columns]="trashColumns"
          [tableCaption]="'Koš smazaných ticketů'"
          [apiEndpoint]="apiEndpoint"
          (itemRestored)="refreshData()">
        </app-generic-trash-table>

        <div class="flex justify-between items-center mt-4">
          <label class="checkbox-container text-xs">
            <input type="checkbox" [(ngModel)]="isTableFullWidth"> Full-width zobrazení
          </label>

          <app-pagination-buttons
            [currentPage]="showTrashTable ? trashCurrentPage : currentPage"
            [totalPages]="showTrashTable ? trashTotalPages : totalPages"
            [totalItems]="showTrashTable ? trashTotalItems : totalItems"
            [itemsPerPage]="showTrashTable ? trashItemsPerPage : itemsPerPage"
            [dataLength]="showTrashTable ? trashData.length : data.length"
            (pageChange)="handlePageChange($event)"
            (itemsPerPageChange)="handleItemsPerPageChange($event)">
          </app-pagination-buttons>
        </div>
      </div>
    </div>
  </div>
</div>

<app-generic-form 
  *ngIf="showCreateForm" 
  [inputDefinitions]="formFields" 
  [formDataToEdit]="selectedItemForEdit" 
  (formSubmitted)="handleFormSubmitted($event)" 
  (formCanceled)="onCancelForm()">
</app-generic-form>

<app-generic-details 
  *ngIf="showDetails" 
  [itemDetailColumns]="detailsColumns" 
  [itemData]="selectedItemForDetails" 
  (closeDetails)="showDetails = false">
</app-generic-details>