<footer class="public-footer">
  <div class="footer-content">
    <div class="footer-section company-info">
      <h3>RegioPartner, s.r.o</h3>
      <p><strong>Adresa:</strong> Kytlická 862/6, 190 00 Praha</p>
      <p><strong>IČO:</strong> 12345678</p>
      <p><strong>DIČ:</strong> CZ12345678</p>
      <div class="social-links">
        <a href="">
          <img [src]="ig_link" alt="">
        </a>
         <a href="">
          <img [src]="fb_link" alt="">
        </a>
         <a href="">
          <img [src]="in_link" alt="">
        </a>
      </div>
    </div>

    <div class="footer-section quick-links">
      <h3>Rychlé odkazy</h3>
      <ul>
        <li><a routerLink="/home">Domů</a></li>
        <li><a routerLink="/services">Služby</a></li>
        <li><a routerLink="/shop">Obchdo</a></li>
        <li><a routerLink="/academy">Vzdělání</a></li>
      </ul>
    </div>

    <div class="footer-section contact-info">
      <h3>Kontakt</h3>
      <p><strong>Email: </strong><a href="mailto:info@vasitfirma.cz">info&#64;rpsw.cz</a></p>
      <p><strong>Telefon:</strong> +420 733 188328 </p>
      
    </div>

    <div class="footer-section legal-info">
      <h3>Právní informace</h3>
      <ul>
        <li><a routerLink="/privacy-policy">Zásady ochrany osobních údajů</a></li>
        <li><a routerLink="/tos">Obchodní podmínky</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} RegioPartner, s.r.o., Všechna práva vyhrazena.</p>
  </div>
</footer>