<header>
  <div class="header-item">
    <!-- Zobrazíme e-mail uživatele, pokud je přihlášen -->
    <ng-container *ngIf="isLoggedIn && userEmail">
      {{ userEmail }} |
    </ng-container>
    <!-- Můžete přidat i fallback, pokud by e-mail nebyl dostupný -->
    <ng-container *ngIf="!isLoggedIn && !userEmail">
      Nepřihlášený uživatel |
    </ng-container>
  </div>
  <div class="header-item">
    (sysadmin) | <!-- Toto je statický text, můžete ho nechat nebo dynamicky měnit -->
  </div>
  <div class="header-item">
  {{ currentDate | date:'HH:mm dd. MMMM yyyy' }}
</div>
</header>
<div class="admin-dashboard-wrapper">
  <aside class="admin-sidebar">
    <nav class="admin-nav">
      <ul>
        <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/admin/user-request" routerLinkActive="active">User Requests</a></li>
        <li><a routerLink="/admin/administratos" routerLinkActive="active">Administrátoři</a></li>
        <li><a routerLink="/admin/business-logs" routerLinkActive="active">Business Logs</a></li>
        <li><a routerLink="/admin/system-logs" routerLinkActive="active">System Logs</a></li>

        <li><a routerLink="/admin/personal-info" routerLinkActive="active">Osobní Informace</a></li>
        <li><a routerLink="/admin/recovery" routerLinkActive="active">Obnova dat</a></li>
      </ul>
    </nav>
    <div class="sidebar-footer">
      <button (click)="logout()">Logout</button>
    </div>
  </aside>

  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>
</div>